*~
*.o
Makefile
autoscan.log
Makefile.in
config.h*
config.log
config.status
configure
aclocal.m4
.deps
tboot
autom4te*
stamp-h1
cscope*
*.a
!plugins/*.a
tags
src/plugins.h
ar-lib
depcomp
install-sh
missing
